.container {
  color: white;
  font-weight: bold;
  box-shadow: inset 0px 7px 10px -6px #dedede;
  padding: 14px 22px;
  border-radius: 12px;
  background-color: #923cb5;
  background-image: linear-gradient(147deg, #461658 0%, #0f0020 74%);
}
